20 Minute Workout Planner.json
{
  "name": "20 Minute Workout Planner",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "8625c166-7c15-46c7-b1f5-a415df9938c4",
      "name": "Telegram Trigger",
      "webhookId": "7a48d3b4-830c-443e-950e-8cb9fe4eddf2",
      "alwaysOutputData": false,
      "credentials": {
        "telegramApi": {
          "id": "aKG146lwVEGgOs3k",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        176,
        176
      ],
      "id": "3e6e31bd-3f3b-4028-a8a9-ed83b818c87e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "224oG3eqM2Iwlwko",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        992,
        0
      ],
      "id": "b90f6868-fa02-4720-ab84-61a75b63b582",
      "name": "Wait",
      "webhookId": "174b0e4d-9ae0-4560-81dc-d93341ffc56b"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "⏰ **Daily Workout Reminder!** \n                                                                                                                         \n⏰ *Hey Champion!* It's 8 PM — time to crush your 20-min calisthenics!\n\n--------------------------------------------------------------                                                                                                \nYou can:                                                                                                \n💪 Type *workout* — to get today’s full routine   \n🎯 Type *goal* — to update your fitness target   \n🦾 Or type any *body part* (e.g., biceps, core, legs) — for a focused 20-min plan    \n\n--------------------------------------------------------------\n\n\n_\"Fear not the workout, fear the regret of not doing it.\"_  \n — **Vikings** ⚔️🔥\n\n\n_You can find Yesterday's log at_: https://docs.google.com/spreadsheets/d/1kD9HoYIYezULKV9uL3xVgM8ddA7kA81YY1g2Lp1K1x8/edit?usp=sharing",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1232,
        0
      ],
      "id": "5b131db2-a2fb-46ce-bec2-008f15127625",
      "name": "Send Daily Reminder",
      "webhookId": "40ef5afc-0212-4d04-8b09-144f54afd8f5",
      "credentials": {
        "telegramApi": {
          "id": "aKG146lwVEGgOs3k",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "3349ba98-6057-4827-8cb7-9056449dbe5c",
      "name": "Send the Workout Plan",
      "webhookId": "5c584944-3d0b-46dd-9e94-fb06befe0526",
      "credentials": {
        "telegramApi": {
          "id": "aKG146lwVEGgOs3k",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a 20-min advanced workout for the body part: \"{{ $json.message.text }}\".\nUser is NOT a beginner. No equipment. Output only:\n1) Warm-up (1-2 lines)\n2) Main workout: 4–6 exercises (reps/time)\n3) Finisher (1 line)\nKeep the response concise.\nBold appropriate sections and keep one line space after each exercise (as per Telegram) and use emojies to make it fun. Also bold each exercise. Also use separate lines for clear defining the blocks/ separations",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "9cc068ee-3a70-4f96-afb4-4a4f38270705",
      "name": "Workout Planner"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1kD9HoYIYezULKV9uL3xVgM8ddA7kA81YY1g2Lp1K1x8",
          "mode": "list",
          "cachedResultName": "20 minute Workout Planner",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kD9HoYIYezULKV9uL3xVgM8ddA7kA81YY1g2Lp1K1x8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kD9HoYIYezULKV9uL3xVgM8ddA7kA81YY1g2Lp1K1x8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Plan": "={{ \n  $json.result.text\n    .split(/\\r?\\n/)\n    .slice(0, -1)\n    .join(\" \")\n    .replace(/\\s+/g, \" \")\n    .trim()\n}}",
            "Completed": "Yes",
            "User": "={{ $('Telegram Trigger').item.json.message.chat.first_name }}",
            "Workout Type": "={{ $('Telegram Trigger').item.json.message.text }}",
            "Date": "={{ $now.toISODate() }}",
            "Day": "={{ $now.toFormat(\"cccc\") }}",
            "Time": "={{ $now.toFormat(\"HH:mm\") }}"
          },
          "matchingColumns": [
            "Date"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Day",
              "displayName": "Day",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "User",
              "displayName": "User",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Workout Type",
              "displayName": "Workout Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Plan",
              "displayName": "Plan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Completed",
              "displayName": "Completed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        768,
        0
      ],
      "id": "d8ba86b0-21cd-4467-ae03-3c61f41f3a03",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "c0LK17Fm3haPSn5v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1kD9HoYIYezULKV9uL3xVgM8ddA7kA81YY1g2Lp1K1x8",
          "mode": "list",
          "cachedResultName": "20 minute Workout Planner",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kD9HoYIYezULKV9uL3xVgM8ddA7kA81YY1g2Lp1K1x8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kD9HoYIYezULKV9uL3xVgM8ddA7kA81YY1g2Lp1K1x8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now }}",
            "Time": "={{ $now }}",
            "User": "={{ $json.message.chat.first_name }}",
            "Workout Type": "={{ $json.message.text }}"
          },
          "matchingColumns": [
            "Date"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Day",
              "displayName": "Day",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "User",
              "displayName": "User",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Workout Type",
              "displayName": "Workout Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Plan",
              "displayName": "Plan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Completed",
              "displayName": "Completed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        384,
        224
      ],
      "id": "c455d847-41e7-4355-9361-2b7c90696f8b",
      "name": "Append or update row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "c0LK17Fm3haPSn5v",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Workout Planner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Workout Planner",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Send Daily Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Daily Reminder": {
      "main": [
        []
      ]
    },
    "Send the Workout Plan": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workout Planner": {
      "main": [
        [
          {
            "node": "Send the Workout Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "28ac5a74-624e-4c28-aa56-cfdf331fbaa0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bc8b194412f21417a968fb66cbbb9ea0a130834d58443d75401c4ea7547e455e"
  },
  "id": "26UbutcDhreR8aMT",
  "tags": []
}